<%= params[:state] %>

</br>
<% if @reps.any? %>
	<h1 class="text-center city-state"> <%= city_state %> Representatives </h1>
	<div class="row text-center">
		<% @reps.each do |rep| %>
			<div class="col-xs-12 col-lg-4 representatives">
				<%= image_tag(portrait(rep), class: "img-rounded rep-portrait") %>
				<h4 class="rep-title col-xs-offset-3 col-xs-6 col-lg-12 col-lg-offset-0"> <%= full_title(rep) %> </h4>
				<p class="rep-contact">
					<%= rep_twitter(rep) %>
					<i class="fa fa-envelope fa-lg"></i>
				</p>
			</div>
		<% end %>
	</div>

<% else %>
	<h1 class="text-center">Sorry, couldn't find representatives for <%= city_state %></h1>
<%end%>